* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-family: "Roboto", sans-serif;
}
header {
    background-color: #0b4f6c;
    color: white;
    padding: 1rem;
}
.site-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-brand img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
#menu {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
#navigation {
    display: none;
}
#navigation.open {
    display: flex;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
nav a {
    color: white;
    text-decoration: none;
}
main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}
.hero {
    position: relative;
    width: 100%;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero .cta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    background-color: #005f8f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
h1 {
    text-align: center;
}
.view-buttons button {
    padding: 8px 14px;
    margin: 4px;
    cursor: pointer;
}
/* GRID VIEW */
#members.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
#members.grid section {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 6px #aaa;
}
#members.grid img {
    width: 150px;
    height: 100px;
    object-fit: contain;
}
/* LIST VIEW */
#members.list {
    display: flex;
    flex-direction: column;
    display: block;
}
#members.list a {
    overflow-wrap: anywhere;
}
footer {
    background-color: #0b4f6c;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

#members.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    padding: 1rem;
    margin: 0;
}
#members.list section img {
    display: none;
}
#members.list section:nth-child(even) {
    background-color: #e8f4f8;
}
#spotlights-cards .membership {
    display: block;
    width: fit-content;
    margin: 12px auto ;
    padding: 12px 20px;
    background-color: #005f8f;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
#spotlights-cards a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#spotlights-cards section {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
#spotlights-cards img{
    width: 150px;
    height: 100px;
    object-fit: contain;
}
.spotlights h2 {
    text-align: center;
}